.carousel {
  padding: 15px;
  display: grid; 
  grid-template-columns: 15px auto 15px;
  grid-column-gap: 15px;
  box-shadow: 0 0 5px #c1c1c1;
  border-radius: 30px;

  &__btn-left,
  &__btn-right {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    font-family: sans-serif;
    color: #2b2a30;

    &:hover {
      background: #c1c1c1;
    }
  }

  &__gallery {
    overflow: hidden;
  }

  &__item-list {
    display: grid;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    list-style: none;
  }
}